<!-- Página inicial -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>

    <h1>Olá jogador, seja bem-vindo!</h1>
    <h2>Para começar a aventura, faça login ou registre uma conta.</h2>

    <form action="{{ url_for('auth.login') }}" method="post">
        <label for="loginUsername">Nome de usuário:</label>
        <input type="text" id="loginUsername" name="username" required>

        <label for="loginPassword">Senha:</label>
        <input type="password" id="loginPassword" name="password" required>

        <button type="submit">Registrar / Logar</button>
    </form>

</body>
</html>
