<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Raça e Vocação</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">

    <div class="max-w-lg w-full p-6 bg-gray-800 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-yellow-400 text-center mb-6">
            Escolha sua Raça e Vocação
        </h1>

        <!-- Formulário de Seleção de Raça e Vocação -->
        <form action="{{ url_for('game.tutorial', page = 0) }}" method="post" class="space-y-4">
            <div>
                <label for="race" class="block text-yellow-300 text-lg">Selecione sua Raça:</label>

                <select name="race" id="race" class="w-full p-2 bg-gray-700 text-white rounded-lg" required>
                    {% for race in races.keys() %}
                        <option value="{{ race }}">{{ race.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="vocation" class="block text-yellow-300 text-lg">Selecione sua Vocação:</label>

                <select name="vocation" id="vocation" class="w-full p-2 bg-gray-700 text-white rounded-lg" required>
                    {% for vocation in vocations.keys() %}
                        <option value="{{ vocation }}">{{ vocation.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="text-center mt-6">
                <!-- Botão de confirmação -->
                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-lg">Confirmar</button>
            </div>
        </form>
    </div>

</body>
</html>
