<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">
    <title>Ficha do jogador</title>
</head>

<body>

    <table class="stats-table">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for field, value in player.items() %}
            <tr>
                <td>{{ field | capitalize }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>
